{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</head>
<body >
	<div id="home">
	<title>everSpoti</title>
	<div class="container-fluid">
		<div class="row equal">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 my-top ">
			</div>
			
			
		</div>
   	</div>
</div>
	
	
</body>
</html>